    <div class="headerrow"><strong>
         <div class="col-xs-12 text-rght">Tracking LAB: {{ lab }} in CLASS_ID: {{ id }}</div> 
    </div>
    <div class="headerrow"><strong>
         <div class="col-xs-12 text-rght">GTG COUNTER: {{ gtg_counter }}</div> 
    </div>
    <div class="headerrow"><strong>
        <div class="col-xs-1 text-center">Class-ID</div>
        <div class="col-xs-2">Student</div>
        <div class="col-xs-1 text-center">Help</div>
        <div class="col-xs-2">
           <div class="col-xs-4 text-center">Cmds</div>
           <div class="col-xs-4 text-center">Suc-cess</div>
           <div class="col-xs-4 text-center">Fail</div>
         </div>
        <div class="col-xs-1 text-center ">GTG</div>
        <div class="col-xs-1 text-center">Seconds</div>
        <div class="col-xs-4">Result + Latest Command</div>
    </div>
    </strong>
    {% for student in student_tracker_list -%}
      <div class="row"><a href="https://tmux-{{ student.domain }}.live.alpha.alta3.com" target="_blank"><span class="clickable"></span></a>
        <strong>
        <div class="col-xs-1 text-center">{{ student.class_id }}</div>
        <div class="col-xs-2">{{ student.student_name }}</div>
        <div class="col-xs-1 text-center"> {{ student.help_request }}</div>
        <div class="col-xs-2">
           <div class="col-xs-4 text-center">{{ student.cmd_peg_count }}</div>
           <div class="col-xs-4 text-center">{{ student.success_peg_count }}</div>
           <div class="col-xs-4 text-center">{{ student.fail_peg_count }}</div>
        </div>
        <div class="col-xs-1 text-center"> {{ student.lab_gtg }}</div>
        <div class="col-xs-1 text-center">{{ student.think_lag }} </div>
        <div class="col-xs-4">[{{ student.latest_result }}] {{ student.latest_command }}</div>
    </strong></div>
    {% endfor %}
